* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
.pet {
  width: 90%;
}
.pet-content {
  width: 600px;
  margin: auto;
  background-color: #fff;
  height: 200px;
  margin-top: 20px;
  display: flex;
}
.photo {
  width: 250px;
  height: 100%;
}
.pet-img {
  height: 100%;
}
.pet-info {
  margin: 10px;
  font-weight: bold;
}
